Repository andykswong/mithic: changes, and which Codecov flags are due for each by the changed paths.
All: @mithic/collections, @mithic/commons, @mithic/cqrs, @mithic/crdt, @mithic/eventstore, @mithic/messaging, @mithic/ipfs, @mithic/level, @mithic/redis

remove unnecessary dependencies
  package-lock.json
  packages/collections/package.json
  packages/collections/src/impl/__tests__/camap.spec.ts
  packages/collections/src/impl/camap.ts
  packages/commons/package.json
  packages/commons/src/__tests__/buffer.spec.ts
  packages/commons/src/__tests__/hash.spec.ts
  packages/commons/src/hash.ts
  packages/cqrs/src/handler.ts
  packages/cqrs/src/preset/command.ts
  packages/crdt/src/model/defaults.ts
  packages/plugins/ipfs/src/blockstore.ts
Due: @mithic/collections, @mithic/commons, @mithic/cqrs, @mithic/crdt, @mithic/ipfs

refactor event model
  package-lock.json
  packages/commons/src/async/__tests__/ratelimiter.spec.ts
  packages/cqrs/package.json
  packages/cqrs/src/index.ts
  packages/crdt/package.json
  packages/crdt/src/aggregate.ts
  packages/crdt/src/event.ts
  packages/crdt/src/index.ts
  packages/crdt/src/model/__tests__/map.spec.ts
  packages/crdt/src/model/__tests__/set.spec.ts
  packages/crdt/src/model/lseq.ts
  packages/crdt/src/model/map.ts
  packages/crdt/src/model/set.ts
  packages/eventstore/package.json
  packages/eventstore/src/__tests__/mocks.ts
  packages/eventstore/src/base/base.ts
  packages/eventstore/src/base/dag.ts
  packages/eventstore/src/event.ts
  packages/eventstore/src/index.ts
  packages/eventstore/src/store/__tests__/dag.spec.ts
  packages/eventstore/src/store/__tests__/indexed.spec.ts
  packages/eventstore/src/store/__tests__/indices.spec.ts
  packages/eventstore/src/store/dag.ts
  packages/eventstore/src/store/indexed.ts
  packages/eventstore/src/store/indices.ts
  packages/messaging/src/impl/broadcast-channel.ts
Due: @mithic/commons, @mithic/cqrs, @mithic/crdt, @mithic/eventstore, @mithic/messaging

update crdt action model
  packages/crdt/src/aggregate.ts
  packages/crdt/src/event.ts
  packages/crdt/src/model/__tests__/lseq.spec.ts
  packages/crdt/src/model/__tests__/map.spec.ts
  packages/crdt/src/model/__tests__/set.spec.ts
  packages/crdt/src/model/defaults.ts
  packages/crdt/src/model/lseq.ts
  packages/crdt/src/model/map.ts
  packages/crdt/src/model/set.ts
  packages/eventstore/src/event.ts
  packages/eventstore/src/store/indexed.ts
Due: @mithic/crdt, @mithic/eventstore

add codec
  README.md
  packages/collections/src/__tests__/mocks.ts
  packages/collections/src/impl/__tests__/transformedmap.spec.ts
  packages/collections/src/impl/__tests__/transformedset.spec.ts
  packages/collections/src/impl/camap.ts
  packages/collections/src/impl/transformedmap.ts
  packages/collections/src/impl/transformedset.ts
  packages/collections/src/query.ts
  packages/commons/src/__tests__/codec.spec.ts
  packages/commons/src/codec.ts
  packages/commons/src/hash.ts
  packages/commons/src/index.ts
  packages/eventstore/src/store/__tests__/dag.spec.ts
  packages/eventstore/src/store/dag.ts
  packages/plugins/ipfs/src/blockstore.ts
Due: @mithic/collections, @mithic/commons, @mithic/eventstore, @mithic/ipfs

simplified and modular CRDT model
  packages/collections/src/set.ts
  packages/commons/src/async/lockguard.ts
  packages/crdt/README.md
  packages/crdt/src/__tests__/mocks.ts
  packages/crdt/src/action.ts
  packages/crdt/src/aggregate.ts
  packages/crdt/src/defaults.ts
  packages/crdt/src/index.ts
  packages/crdt/src/list/__tests__/fractional.spec.ts
  packages/crdt/src/list/__tests__/lseq.spec.ts
  packages/crdt/src/list/fractional.ts
  packages/crdt/src/list/generator.ts
  packages/crdt/src/list/index.ts
  packages/crdt/src/list/list.ts
  packages/crdt/src/list/lseq.ts
  packages/crdt/src/map/__tests__/ormap.spec.ts
  packages/crdt/src/map/index.ts
  packages/crdt/src/map/map.ts
  packages/crdt/src/map/ormap.ts
  packages/crdt/src/map/store.ts
  packages/crdt/src/model/__tests__/keys.spec.ts
  packages/crdt/src/model/__tests__/lseq.spec.ts
  packages/crdt/src/model/__tests__/map.spec.ts
  packages/crdt/src/model/__tests__/set.spec.ts
  packages/crdt/src/model/defaults.ts
  packages/crdt/src/model/index.ts
  packages/crdt/src/model/keys.ts
  packages/crdt/src/model/lseq.ts
  packages/crdt/src/model/map.ts
  packages/crdt/src/model/set.ts
  packages/crdt/src/set/__tests__/orset.spec.ts
  packages/crdt/src/set/index.ts
  packages/crdt/src/set/orset.ts
  packages/crdt/src/set/set.ts
Due: @mithic/collections, @mithic/commons, @mithic/crdt

Fix a few tests for Bun
  packages/collections/src/impl/__tests__/btreemap.spec.ts
  packages/collections/src/impl/__tests__/task.spec.ts
  packages/commons/src/__tests__/utils.ts
  packages/commons/src/async/__tests__/delay.spec.ts
  packages/crdt/src/list/__tests__/lseq.spec.ts
  packages/crdt/src/map/__tests__/ormap.spec.ts
  packages/crdt/src/set/__tests__/orset.spec.ts
  packages/eventstore/src/__tests__/replicate.spec.ts
  packages/messaging/src/impl/__tests__/broadcast-channel.spec.ts
  packages/messaging/src/utils/__tests__/peer-monitor.spec.ts
  packages/messaging/src/utils/__tests__/wait-peer.spec.ts
  packages/plugins/redis/src/__tests__/bus.spec.ts
  packages/plugins/redis/src/__tests__/map.spec.ts
Due: @mithic/collections, @mithic/commons, @mithic/crdt, @mithic/eventstore, @mithic/messaging, @mithic/redis

minor fixes
  index.d.ts
  package-lock.json
  package.json
  packages/commons/src/async/__tests__/semaphore.spec.ts
  packages/commons/src/async/__tests__/web-lock.spec.ts
Due: @mithic/commons

updated CRDT store interface
  packages/collections/src/impl/__tests__/mapset.spec.ts
  packages/collections/src/impl/__tests__/transformedmap.spec.ts
  packages/collections/src/impl/__tests__/transformedset.spec.ts
  packages/collections/src/impl/mapset.ts
  packages/collections/src/map.ts
  packages/collections/src/utils/__tests__/multikey.spec.ts
  packages/collections/src/utils/multikey.ts
  packages/commons/src/async/__tests__/delay.spec.ts
  packages/commons/src/event.ts
  packages/crdt/src/defaults.ts
  packages/crdt/src/index.ts
  packages/crdt/src/list/__tests__/lseq.spec.ts
  packages/crdt/src/list/list.ts
  packages/crdt/src/list/lseq.ts
  packages/crdt/src/map/__tests__/ormap.spec.ts
  packages/crdt/src/map/map.ts
  packages/crdt/src/map/ormap.ts
  packages/crdt/src/set/__tests__/orset.spec.ts
  packages/crdt/src/set/orset.ts
  packages/crdt/src/set/set.ts
  packages/crdt/src/store.ts
  packages/crdt/src/store/__tests__/mapstore.spec.ts
  packages/crdt/src/store/base.ts
  packages/crdt/src/store/index.ts
  packages/crdt/src/store/mapstore.ts
  packages/crdt/src/store/store.ts
Due: @mithic/collections, @mithic/commons, @mithic/crdt

upgrade npm dependencies
  package-lock.json
  packages/collections/package.json
  packages/commons/package.json
  packages/crdt/package.json
  packages/eventstore/package.json
  packages/examples/graphql/package.json
  packages/messaging/package.json
  packages/plugins/ipfs/package.json
  packages/plugins/level/src/map.ts
Due: @mithic/collections, @mithic/commons, @mithic/crdt, @mithic/eventstore, @mithic/messaging, @mithic/ipfs, @mithic/level

update crdt store interface
  packages/crdt/README.md
  packages/crdt/src/list/__tests__/lseq.spec.ts
  packages/crdt/src/map/__tests__/ormap.spec.ts
  packages/crdt/src/map/ormap.ts
  packages/crdt/src/set/__tests__/orset.spec.ts
  packages/crdt/src/store/__tests__/mapstore.spec.ts
  packages/crdt/src/store/base.ts
  packages/crdt/src/store/mapstore.ts
  packages/crdt/src/store/store.ts
  packages/plugins/redis/src/__tests__/mocks.ts
Due: @mithic/crdt, @mithic/redis

refactor crdt model
  packages/crdt/src/__tests__/utils.ts
  packages/crdt/src/aggregate.ts
  packages/crdt/src/defaults.ts
  packages/crdt/src/list/__tests__/lseq.spec.ts
  packages/crdt/src/list/list.ts
  packages/crdt/src/list/lseq.ts
  packages/crdt/src/map/__tests__/ormap.spec.ts
  packages/crdt/src/map/map.ts
  packages/crdt/src/map/ormap.ts
  packages/crdt/src/set/__tests__/orset.spec.ts
  packages/crdt/src/set/orset.ts
  packages/crdt/src/set/set.ts
  packages/crdt/src/store/__tests__/mapstore.spec.ts
  packages/crdt/src/store/base.ts
  packages/crdt/src/store/index.ts
  packages/crdt/src/store/mapstore.ts
  packages/crdt/src/store/store.ts
Due: @mithic/crdt

update package config
  README.md
  package-lock.json
  package.json
  packages/collections/package.json
  packages/commons/package.json
  packages/cqrs/package.json
  packages/crdt/package.json
  packages/eventstore/package.json
  packages/examples/graphql/package.json
  packages/messaging/package.json
  packages/plugins/denokv/package.json
  packages/plugins/ipfs/package.json
  packages/plugins/level/package.json
  packages/plugins/redis/package.json
  packages/triplestore/package.json
Due: @mithic/collections, @mithic/commons, @mithic/cqrs, @mithic/crdt, @mithic/eventstore, @mithic/messaging, @mithic/ipfs, @mithic/level, @mithic/redis

fix package lock
  package-lock.json
Due: none

fix package lock
  package-lock.json
  packages/plugins/level/package.json
Due: @mithic/level

WIT as npm packages
  package-lock.json
  package.json
  packages/core/src/io/provider/index.ts
  packages/core/src/io/provider/io.ts
  packages/core/src/io/provider/provider.ts
  packages/core/src/io/provider/remote.test.ts
  packages/core/src/io/provider/remote.ts
  wit/keyvalue/README.md
  wit/keyvalue/package.json
  wit/keyvalue/wit/deps.lock
  wit/keyvalue/wit/deps.toml
  wit/messaging/README.md
  wit/messaging/package.json
  wit/messaging/wit/consumer.wit
  wit/messaging/wit/deps.lock
  wit/messaging/wit/deps.toml
  wit/messaging/wit/peer.wit
Due: none

fix pollable behavior
  .crates.toml
  package-lock.json
  package.json
  packages/core/src/clocks/wall-clock.ts
  packages/core/src/io/poll.test.ts
  packages/core/src/io/poll.ts
  packages/core/src/io/provider/provider.ts
  packages/core/src/random/insecure-seed.ts
  packages/core/src/random/insecure.ts
  packages/core/src/random/random.ts
  packages/examples/rust-cli/package.json
  packages/examples/simple/package.json
Due: none

increase timeout for message channel test
  packages/commons/src/channel/message.test.ts
Due: @mithic/commons

Path conditions:
  @mithic/collections: any of: packages/collections, but not: packages/examples
  @mithic/commons: any of: packages/commons, but not: packages/examples
  @mithic/cqrs: any of: packages/cqrs, but not: packages/examples
  @mithic/crdt: any of: packages/crdt, but not: packages/examples
  @mithic/eventstore: any of: packages/eventstore, but not: packages/examples
  @mithic/messaging: any of: packages/messaging, but not: packages/examples
  @mithic/ipfs: any of: packages/plugins/ipfs, but not: packages/examples
  @mithic/level: any of: packages/plugins/level, but not: packages/examples
  @mithic/redis: any of: packages/plugins/redis, but not: packages/examples
