Repository andykswong/mithic: changes, and which Codecov flags are due for each by the changed paths.
All: @mithic/collections, @mithic/commons, @mithic/cqrs, @mithic/messaging

codecov.yml:

comment:
  layout: "header, diff, flags, components"
component_management:
  individual_components:
    - component_id: "@mithic/collections"
      paths:
        - "packages/collections"
    - component_id: "@mithic/commons"
      paths:
        - "packages/commons"
    - component_id: "@mithic/cqrs"
      paths:
        - "packages/cqrs"
    - component_id: "@mithic/messaging"
      paths:
        - "packages/messaging"
ignore:
  - "packages/examples"

Redux store is now async iterable
  codecov.yml
  packages/collections/src/impl/__tests__/arraydeque.spec.ts
  packages/cqrs/src/event/__tests__/iterator.spec.ts
  packages/cqrs/src/event/iterator.ts
  packages/cqrs/src/preset/__tests__/redux.spec.ts
  packages/cqrs/src/preset/redux.ts
Due: @mithic/collections, @mithic/cqrs

Add maybeAsync coroutine helper
  packages/collections/src/concurrent/__tests__/task.spec.ts
  packages/collections/src/impl/basecas.ts
  packages/collections/src/impl/btreemap.ts
  packages/collections/src/impl/mapcas.ts
  packages/collections/src/impl/stringmap.ts
  packages/commons/package.json
  packages/commons/src/__tests__/event.spec.ts
  packages/commons/src/async/__tests__/delay.spec.ts
  packages/commons/src/async/__tests__/maybe-async.spec.ts
  packages/commons/src/async/__tests__/promise.spec.ts
  packages/commons/src/async/delay.ts
  packages/commons/src/async/index.ts
  packages/commons/src/async/iterator.ts
  packages/commons/src/async/maybe-async.ts
  packages/commons/src/async/promise.ts
  packages/commons/src/event.ts
  packages/cqrs/src/command.ts
  packages/cqrs/src/event.ts
  packages/cqrs/src/event/pubsub.ts
  packages/cqrs/src/processor.ts
  packages/cqrs/src/processor/__tests__/persister.spec.ts
  packages/cqrs/src/processor/__tests__/reducer.spec.ts
  packages/cqrs/src/processor/reducer.ts
  packages/messaging/src/impl/__tests__/broadcast-channel.spec.ts
  packages/messaging/src/impl/__tests__/dual-broadcast.spec.ts
Due: @mithic/collections, @mithic/commons, @mithic/cqrs, @mithic/messaging

Add ES module
  README.md
  package-lock.json
  package.json
  packages/collections/src/cas.ts
  packages/collections/src/impl/basecas.ts
  packages/collections/src/impl/mapcas.ts
  packages/collections/src/index.ts
  packages/collections/src/map.ts
  packages/commons/src/async/iterator.ts
  packages/es/LICENSE
  packages/es/README.md
  packages/es/jest.config.cjs
  packages/es/package.json
  packages/es/src/__tests__/clock.spec.ts
  packages/es/src/clock.ts
  packages/es/src/index.ts
  packages/es/src/store.ts
  packages/es/tsconfig.build.json
  packages/es/tsconfig.json
  packages/es/typedoc.json
  packages/examples/.eslintrc.json
  packages/examples/graphql/package.json
  packages/examples/simple/package.json
Due: @mithic/collections, @mithic/commons

Refactor collection interfaces
  README.md
  package-lock.json
  package.json
  packages/collections/src/impl/__tests__/bloomfilter.spec.ts
  packages/collections/src/impl/__tests__/camap.spec.ts
  packages/collections/src/impl/basecas.ts
  packages/collections/src/impl/bloomfilter.ts
  packages/collections/src/impl/camap.ts
  packages/collections/src/impl/hash.ts
  packages/collections/src/impl/index.ts
  packages/collections/src/impl/mapcas.ts
  packages/collections/src/map.ts
  packages/collections/src/query.ts
  packages/collections/src/set.ts
  packages/commons/src/__tests__/encoding.spec.ts
  packages/commons/src/encoding.ts
  packages/commons/src/error/enums.ts
  packages/crdt/LICENSE
  packages/crdt/README.md
  packages/crdt/jest.config.cjs
  packages/crdt/package.json
  packages/crdt/src/event.ts
  packages/crdt/src/index.ts
  packages/crdt/src/store.ts
  packages/crdt/tsconfig.build.json
  packages/crdt/tsconfig.json
  packages/crdt/typedoc.json
  packages/es/src/__tests__/clock.spec.ts
  packages/es/src/clock.ts
  packages/es/src/index.ts
  packages/es/src/store.ts
Due: @mithic/collections, @mithic/commons

Fix build
  packages/crdt/src/__tests__/store.spec.ts
  packages/examples/graphql/package.json
  packages/examples/simple/package.json
Due: none

Refactor map interfaces
  codecov.yml
  packages/collections/src/generational.ts
  packages/collections/src/generational/arena.ts
  packages/collections/src/generational/generator.ts
  packages/collections/src/generational/genidmap.ts
  packages/collections/src/generational/sparseset.ts
  packages/collections/src/impl/__tests__/batchmap.spec.ts
  packages/collections/src/impl/__tests__/camap.spec.ts
  packages/collections/src/impl/batchmap.ts
  packages/collections/src/impl/btreemap.ts
  packages/collections/src/impl/camap.ts
  packages/collections/src/impl/storagemap.ts
  packages/collections/src/impl/stringmap.ts
  packages/collections/src/map.ts
  packages/commons/src/__tests__/buffer.spec.ts
  packages/commons/src/buffer.ts
  packages/commons/src/error/enums.ts
  packages/commons/src/index.ts
  packages/cqrs/src/preset/redux.ts
  packages/crdt/src/__tests__/store.spec.ts
  packages/crdt/src/impl/__tests__/time.spec.ts
  packages/crdt/src/impl/index.ts
  packages/crdt/src/impl/time.ts
  packages/crdt/src/index.ts
  packages/crdt/src/store.ts
Due: @mithic/collections, @mithic/commons, @mithic/cqrs

Fix unstable time test
  packages/crdt/src/impl/__tests__/time.spec.ts
Due: none

Refactor a few classes
  codecov.yml
  packages/collections/src/impl/__tests__/batchmap.spec.ts
  packages/collections/src/impl/__tests__/camap.spec.ts
  packages/collections/src/impl/__tests__/hashmap.spec.ts
  packages/collections/src/impl/__tests__/hashset.spec.ts
  packages/collections/src/impl/batchmap.ts
  packages/collections/src/impl/bloomfilter.ts
  packages/collections/src/impl/camap.ts
  packages/collections/src/impl/hashmap.ts
  packages/collections/src/impl/hashset.ts
  packages/collections/src/impl/index.ts
  packages/collections/src/impl/storagemap.ts
  packages/collections/src/impl/utils.ts
  packages/collections/src/map.ts
  packages/collections/src/set.ts
  packages/commons/src/__tests__/buffer.spec.ts
  packages/commons/src/__tests__/encoding.spec.ts
  packages/commons/src/buffer.ts
  packages/commons/src/encoding.ts
  packages/commons/src/hash.ts
  packages/commons/src/index.ts
  packages/cqrs/src/event/__tests__/iterator.spec.ts
  packages/cqrs/src/event/iterator.ts
  packages/crdt/src/event.ts
  packages/crdt/src/store.ts
Due: @mithic/collections, @mithic/commons, @mithic/cqrs

Add simple event store
  .vscode/launch.json
  .vscode/settings.json
  jest.config.cjs
  package-lock.json
  packages/collections/package.json
  packages/collections/src/impl/btreemap.ts
  packages/commons/package.json
  packages/cqrs/package.json
  packages/cqrs/src/__tests__/command.spec.ts
  packages/cqrs/src/command.ts
  packages/crdt/package.json
  packages/crdt/src/impl/__tests__/time.spec.ts
  packages/crdt/src/impl/index.ts
  packages/crdt/src/impl/time.ts
  packages/crdt/src/index.ts
  packages/crdt/src/simple/__tests__/indices.spec.ts
  packages/crdt/src/simple/__tests__/store.spec.ts
  packages/crdt/src/simple/__tests__/time.spec.ts
  packages/crdt/src/simple/index.ts
  packages/crdt/src/simple/indices.ts
  packages/crdt/src/simple/store.ts
  packages/crdt/src/simple/time.ts
  packages/messaging/package.json
  tsconfig.json
Due: @mithic/collections, @mithic/commons, @mithic/cqrs, @mithic/messaging

Add IndexedDBMap
  package-lock.json
  packages/collections/package.json
  packages/collections/src/impl/__tests__/indexeddbmap.spec.ts
  packages/collections/src/impl/batchmap.ts
  packages/collections/src/impl/btreemap.ts
  packages/collections/src/impl/index.ts
  packages/collections/src/impl/indexeddbmap.ts
Due: @mithic/collections

Add LevelDB plugin and refactor map types
  README.md
  package-lock.json
  package.json
  packages/collections/src/impl/__tests__/camap.spec.ts
  packages/collections/src/impl/__tests__/encodedmap.spec.ts
  packages/collections/src/impl/__tests__/encodedset.spec.ts
  packages/collections/src/impl/__tests__/hashmap.spec.ts
  packages/collections/src/impl/__tests__/hashset.spec.ts
  packages/collections/src/impl/__tests__/storagemap.spec.ts
  packages/collections/src/impl/camap.ts
  packages/collections/src/impl/encodedmap.ts
  packages/collections/src/impl/encodedset.ts
  packages/collections/src/impl/hashmap.ts
  packages/collections/src/impl/hashset.ts
  packages/collections/src/impl/index.ts
  packages/collections/src/impl/indexeddbmap.ts
  packages/collections/src/impl/storagemap.ts
  packages/collections/src/map.ts
  packages/collections/src/set.ts
  packages/crdt/src/simple/__tests__/store.spec.ts
  packages/crdt/src/simple/store.ts
  packages/plugins/level/LICENSE
  packages/plugins/level/README.md
  packages/plugins/level/jest.config.cjs
  packages/plugins/level/package.json
  packages/plugins/level/src/__tests__/map.spec.ts
  packages/plugins/level/src/index.ts
  packages/plugins/level/src/map.ts
  packages/plugins/level/tsconfig.build.json
  packages/plugins/level/tsconfig.json
  packages/plugins/level/typedoc.json
Due: @mithic/collections

add IPFS/libp2p plugin
  README.md
  package-lock.json
  package.json
  packages/plugins/ipfs/LICENSE
  packages/plugins/ipfs/README.md
  packages/plugins/ipfs/jest.config.cjs
  packages/plugins/ipfs/package.json
  packages/plugins/ipfs/src/__tests__/map.spec.ts
  packages/plugins/ipfs/src/__tests__/mocks.ts
  packages/plugins/ipfs/src/index.ts
  packages/plugins/ipfs/src/map.ts
  packages/plugins/ipfs/src/pubsub/__tests__/ipfs.spec.ts
  packages/plugins/ipfs/src/pubsub/__tests__/libp2p.spec.ts
  packages/plugins/ipfs/src/pubsub/index.ts
  packages/plugins/ipfs/src/pubsub/ipfs.ts
  packages/plugins/ipfs/src/pubsub/libp2p.ts
  packages/plugins/ipfs/tsconfig.build.json
  packages/plugins/ipfs/tsconfig.json
  packages/plugins/ipfs/typedoc.json
Due: none

Fix typings
  packages/collections/src/impl/__tests__/camap.spec.ts
  packages/collections/src/impl/camap.ts
  packages/crdt/src/simple/__tests__/store.spec.ts
  packages/crdt/src/simple/store.ts
  packages/plugins/ipfs/src/__tests__/map.spec.ts
  packages/plugins/ipfs/src/map.ts
Due: @mithic/collections

Refactor SimpleEventStore and a few map interfaces
  packages/collections/src/impl/__tests__/encodedmap.spec.ts
  packages/collections/src/impl/__tests__/encodedset.spec.ts
  packages/collections/src/impl/batchmap.ts
  packages/collections/src/impl/camap.ts
  packages/collections/src/impl/encodedmap.ts
  packages/collections/src/impl/encodedset.ts
  packages/collections/src/impl/indexeddbmap.ts
  packages/collections/src/map.ts
  packages/collections/src/set.ts
  packages/commons/src/__tests__/equal.spec.ts
  packages/commons/src/equal.ts
  packages/commons/src/hash.ts
  packages/crdt/src/defaults.ts
  packages/crdt/src/event.ts
  packages/crdt/src/index.ts
  packages/crdt/src/mapstore.ts
  packages/crdt/src/simple/__tests__/store.spec.ts
  packages/crdt/src/simple/indices.ts
  packages/crdt/src/simple/store.ts
  packages/messaging/src/__tests__/mocks.ts
  packages/messaging/src/impl/monitor.ts
  packages/messaging/src/impl/pubsub-direct.ts
  packages/messaging/src/impl/wait-peer.ts
  packages/plugins/level/src/map.ts
  packages/plugins/redis/src/map.ts
Due: @mithic/collections, @mithic/commons, @mithic/messaging

Add iterators to map adapters
  packages/collections/src/impl/__tests__/camap.spec.ts
  packages/collections/src/impl/__tests__/encodedmap.spec.ts
  packages/collections/src/impl/__tests__/encodedset.spec.ts
  packages/collections/src/impl/camap.ts
  packages/collections/src/impl/encodedmap.ts
  packages/collections/src/impl/encodedset.ts
Due: @mithic/collections

Add event store replication
  packages/crdt/src/__tests__/replicate.spec.ts
  packages/crdt/src/__tests__/time.spec.ts
  packages/crdt/src/defaults.ts
  packages/crdt/src/index.ts
  packages/crdt/src/replicate.ts
  packages/crdt/src/store.ts
  packages/crdt/src/store/index.ts
  packages/crdt/src/store/mapstore.ts
  packages/crdt/src/store/simple/__tests__/indices.spec.ts
  packages/crdt/src/store/simple/__tests__/store.spec.ts
  packages/crdt/src/store/simple/index.ts
  packages/crdt/src/store/simple/indices.ts
  packages/crdt/src/store/simple/store.ts
  packages/crdt/src/time.ts
Due: none

Fix imports
  packages/collections/src/generational/index.ts
Due: @mithic/collections

Fix eventstore types
  README.md
  codecov.yml
  package-lock.json
  package.json
  packages/crdt/README.md
  packages/crdt/package.json
  packages/eventstore/src/__tests__/mocks.ts
  packages/eventstore/src/event.ts
  packages/eventstore/src/store/__tests__/dagstore.spec.ts
  packages/eventstore/src/store/dagstore.ts
  packages/eventstore/src/store/simple/store.ts
Due: none
