Repository andykswong/mithic: changes, and which Codecov flags are due for each by the changed paths.
All: @mithic/collections, @mithic/commons, @mithic/cqrs, @mithic/crdt, @mithic/messaging

Refactor event store
  packages/eventstore/src/__tests__/mocks.ts
  packages/eventstore/src/defaults.ts
  packages/eventstore/src/store/__tests__/dagstore.spec.ts
  packages/eventstore/src/store/base.ts
  packages/eventstore/src/store/dagstore.ts
  packages/eventstore/src/store/index.ts
  packages/eventstore/src/store/indexed/__tests__/indices.spec.ts
  packages/eventstore/src/store/indexed/__tests__/store.spec.ts
  packages/eventstore/src/store/indexed/index.ts
  packages/eventstore/src/store/indexed/indices.ts
  packages/eventstore/src/store/indexed/store.ts
  packages/eventstore/src/store/simple/store.ts
Due: none

refactor cqrs and eventstore
  README.md
  packages/cqrs/README.md
  packages/cqrs/src/__tests__/command.spec.ts
  packages/cqrs/src/__tests__/message.spec.ts
  packages/cqrs/src/__tests__/processor.spec.ts
  packages/cqrs/src/bus.ts
  packages/cqrs/src/bus/__tests__/iterator.spec.ts
  packages/cqrs/src/bus/__tests__/pubsub.spec.ts
  packages/cqrs/src/bus/__tests__/simple.spec.ts
  packages/cqrs/src/bus/index.ts
  packages/cqrs/src/bus/iterator.ts
  packages/cqrs/src/bus/pubsub.ts
  packages/cqrs/src/bus/simple.ts
  packages/cqrs/src/command.ts
  packages/cqrs/src/event.ts
  packages/cqrs/src/event/pubsub.ts
  packages/cqrs/src/event/simple.ts
  packages/cqrs/src/index.ts
  packages/cqrs/src/message.ts
  packages/cqrs/src/preset/__tests__/redux.spec.ts
  packages/cqrs/src/preset/redux.ts
  packages/cqrs/src/processor.ts
  packages/cqrs/src/processor/__tests__/persister.spec.ts
  packages/cqrs/src/processor/__tests__/reducer.spec.ts
  packages/cqrs/src/processor/persister.ts
  packages/cqrs/src/processor/reducer.ts
  packages/eventstore/src/store.ts
  packages/eventstore/src/store/base.ts
  packages/eventstore/src/store/dagstore.ts
  packages/eventstore/src/store/indexed/store.ts
  packages/examples/graphql/index.js
  packages/examples/simple/index.js
Due: @mithic/cqrs

refactoring
  package-lock.json
  packages/cqrs/package.json
  packages/cqrs/src/__tests__/message.spec.ts
  packages/cqrs/src/message.ts
  packages/cqrs/src/processor/persister.ts
  packages/crdt/package.json
  packages/crdt/src/aggregate.ts
  packages/crdt/src/index.ts
  packages/eventstore/package.json
  packages/eventstore/src/store/indexed/__tests__/indices.spec.ts
  packages/eventstore/src/store/indexed/indices.ts
Due: @mithic/cqrs, @mithic/crdt

fix build
  package-lock.json
  package.json
Due: none

refactor eventstore
  package-lock.json
  packages/collections/package.json
  packages/collections/src/map.ts
  packages/commons/package.json
  packages/commons/src/hash.ts
  packages/crdt/src/aggregate.ts
  packages/eventstore/package.json
  packages/eventstore/src/__tests__/mocks.ts
  packages/eventstore/src/defaults.ts
  packages/eventstore/src/store.ts
  packages/eventstore/src/store/indexed/__tests__/indices.spec.ts
  packages/eventstore/src/store/indexed/__tests__/store.spec.ts
  packages/eventstore/src/store/indexed/indices.ts
  packages/eventstore/src/store/indexed/store.ts
Due: @mithic/collections, @mithic/commons, @mithic/crdt

implement CRDT LWW/MV map
  package-lock.json
  packages/crdt/package.json
  packages/crdt/src/__tests__/dummy.spec.ts
  packages/crdt/src/__tests__/mocks.ts
  packages/crdt/src/aggregate.ts
  packages/crdt/src/index.ts
  packages/crdt/src/model/__tests__/keys.spec.ts
  packages/crdt/src/model/__tests__/map.spec.ts
  packages/crdt/src/model/index.ts
  packages/crdt/src/model/keys.ts
  packages/crdt/src/model/map.ts
  packages/eventstore/package.json
  packages/eventstore/src/event.ts
  packages/eventstore/src/store.ts
  packages/eventstore/src/store/__tests__/dagstore.spec.ts
  packages/eventstore/src/store/base.ts
  packages/eventstore/src/store/dagstore.ts
Due: @mithic/crdt

add ORSet
  packages/crdt/src/model/__tests__/map.spec.ts
  packages/crdt/src/model/__tests__/set.spec.ts
  packages/crdt/src/model/defaults.ts
  packages/crdt/src/model/index.ts
  packages/crdt/src/model/keys.ts
  packages/crdt/src/model/map.ts
  packages/crdt/src/model/set.ts
Due: @mithic/crdt

add LSeq type, refactor ORSet to base on ORMap
  packages/crdt/src/aggregate.ts
  packages/crdt/src/model/__tests__/keys.spec.ts
  packages/crdt/src/model/__tests__/lseq.spec.ts
  packages/crdt/src/model/__tests__/map.spec.ts
  packages/crdt/src/model/__tests__/set.spec.ts
  packages/crdt/src/model/defaults.ts
  packages/crdt/src/model/index.ts
  packages/crdt/src/model/keys.ts
  packages/crdt/src/model/lseq.ts
  packages/crdt/src/model/map.ts
  packages/crdt/src/model/set.ts
Due: @mithic/crdt

simplify all types
  README.md
  packages/crdt/src/model/__tests__/lseq.spec.ts
  packages/crdt/src/model/__tests__/map.spec.ts
  packages/crdt/src/model/__tests__/set.spec.ts
  packages/crdt/src/model/defaults.ts
  packages/crdt/src/model/lseq.ts
  packages/crdt/src/model/map.ts
  packages/crdt/src/model/set.ts
Due: @mithic/crdt

optimize CRDT models
  package-lock.json
  packages/collections/package.json
  packages/commons/package.json
  packages/crdt/package.json
  packages/crdt/src/aggregate.ts
  packages/crdt/src/model/__tests__/keys.spec.ts
  packages/crdt/src/model/__tests__/lseq.spec.ts
  packages/crdt/src/model/__tests__/map.spec.ts
  packages/crdt/src/model/__tests__/set.spec.ts
  packages/crdt/src/model/keys.ts
  packages/crdt/src/model/lseq.ts
  packages/crdt/src/model/map.ts
  packages/crdt/src/model/set.ts
  packages/eventstore/package.json
  packages/examples/graphql/package.json
  packages/messaging/package.json
  packages/plugins/ipfs/package.json
Due: @mithic/collections, @mithic/commons, @mithic/crdt, @mithic/messaging

Use node v20
  .github/workflows/build.yaml
  .github/workflows/pages.yaml
Due: none

Fix failed test
  package-lock.json
  packages/commons/src/async/__tests__/ratelimiter.spec.ts
Due: @mithic/commons

refactor event store
  package-lock.json
  packages/collections/src/batch.ts
  packages/collections/src/impl/__tests__/encodedset.spec.ts
  packages/collections/src/impl/batchmap.ts
  packages/collections/src/impl/camap.ts
  packages/collections/src/impl/encodedmap.ts
  packages/collections/src/impl/encodedset.ts
  packages/collections/src/index.ts
  packages/collections/src/set.ts
  packages/commons/src/async/__tests__/lock.spec.ts
  packages/commons/src/async/lock.ts
  packages/cqrs/package.json
  packages/cqrs/src/event.ts
  packages/cqrs/src/index.ts
  packages/cqrs/src/preset/__tests__/aggregate.spec.ts
  packages/cqrs/src/preset/aggregate.ts
  packages/cqrs/src/preset/index.ts
  packages/eventstore/package.json
  packages/eventstore/src/__tests__/defaults.spec.ts
  packages/eventstore/src/__tests__/mocks.ts
  packages/eventstore/src/base/base.ts
  packages/eventstore/src/base/dag.ts
  packages/eventstore/src/base/index.ts
  packages/eventstore/src/defaults.ts
  packages/eventstore/src/event.ts
  packages/eventstore/src/index.ts
  packages/eventstore/src/store/__tests__/dag.spec.ts
  packages/eventstore/src/store/__tests__/indexed.spec.ts
  packages/eventstore/src/store/__tests__/indices.spec.ts
  packages/eventstore/src/store/dag.ts
  packages/eventstore/src/store/index.ts
  packages/eventstore/src/store/indexed.ts
  packages/eventstore/src/store/indexed/index.ts
  packages/eventstore/src/store/indices.ts
  packages/eventstore/src/time.ts
Due: @mithic/collections, @mithic/commons, @mithic/cqrs

add cqrs components
  codecov.yml
  packages/cqrs/src/__tests__/iterator.spec.ts
  packages/cqrs/src/__tests__/message.spec.ts
  packages/cqrs/src/bus.ts
  packages/cqrs/src/bus/index.ts
  packages/cqrs/src/event.ts
  packages/cqrs/src/index.ts
  packages/cqrs/src/iterator.ts
  packages/cqrs/src/message.ts
  packages/cqrs/src/preset/__tests__/aggregate.spec.ts
  packages/cqrs/src/preset/__tests__/command.spec.ts
  packages/cqrs/src/preset/__tests__/middleware.spec.ts
  packages/cqrs/src/preset/__tests__/reduce.spec.ts
  packages/cqrs/src/preset/aggregate.ts
  packages/cqrs/src/preset/command.ts
  packages/cqrs/src/preset/index.ts
  packages/cqrs/src/preset/middleware.ts
  packages/cqrs/src/preset/redux.ts
  packages/cqrs/src/preset/store.ts
  packages/cqrs/src/processor.ts
  packages/cqrs/src/processor/__tests__/persister.spec.ts
  packages/cqrs/src/processor/__tests__/reducer.spec.ts
  packages/cqrs/src/processor/__tests__/saga.spec.ts
  packages/cqrs/src/processor/__tests__/translator.spec.ts
  packages/cqrs/src/processor/index.ts
  packages/cqrs/src/processor/persister.ts
  packages/cqrs/src/processor/reducer.ts
  packages/cqrs/src/processor/saga.ts
  packages/cqrs/src/processor/translator.ts
  packages/examples/graphql/README.md
  packages/examples/graphql/index.js
  packages/examples/simple/index.js
Due: @mithic/cqrs

update CRDT query type
  packages/crdt/src/aggregate.ts
  packages/crdt/src/model/__tests__/lseq.spec.ts
  packages/crdt/src/model/__tests__/map.spec.ts
  packages/crdt/src/model/lseq.ts
  packages/crdt/src/model/map.ts
  packages/crdt/src/model/set.ts
Due: @mithic/crdt

change Set update API
  packages/collections/src/batch.ts
  packages/collections/src/impl/__tests__/encodedset.spec.ts
  packages/collections/src/impl/encodedset.ts
  packages/collections/src/set.ts
  packages/cqrs/src/preset/command.ts
  packages/eventstore/src/store/dag.ts
Due: @mithic/collections, @mithic/cqrs

Path conditions:
  @mithic/collections: any of: packages/collections, but not: packages/examples
  @mithic/commons: any of: packages/commons, but not: packages/examples
  @mithic/cqrs: any of: packages/cqrs, but not: packages/examples
  @mithic/crdt: any of: packages/crdt, but not: packages/examples
  @mithic/messaging: any of: packages/messaging, but not: packages/examples
